@media all and (max-width: 1180px){
    .container{
        width: 785px;
    }
    .welcome ul{
        margin: 0 -15px;
    }
    .welcome ul li{
        width: 377px;
        margin: 0 15px 80px;
    }
    .why_choose_nipro li{
        width: 377px;
    }
    .who_work_with_us{
        height: auto;
        padding-bottom: 60px;
    }
    .who_work_with_us ul li{
        width: 377px;
        margin-bottom: 50px;
        height: 468px;
    }
    .who_work_with_us img{
        width: 100%;
    }
    .best_pricing .item > li{
        width: 377px;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 830px) {
    .container{
        width: 576px;
    }
    .logo{
        float: none;
        text-align: center;
        padding-top: 20px;
    }
    .header {
        height: 140px;
    }
    .header ul{
        float: none;
        text-align: center;
    }
    .slider .title{
        width: 100%;
    }
    .welcome ul li {
        margin: 0 auto 80px;
        float: none;
    }
    .welcome ul {
        margin: 0;
    }
    .welcome ul li:last-child {
        margin-right: auto;
    }
    .why_choose_nipro li {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .who_work_with_us ul{
        margin: 0;
    }
    .who_work_with_us ul li{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .best_pricing .item{
        margin: 0;
    }
    .best_pricing .item > li{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .why_choose_nipro ul{
        margin: 0;
    }

}

@media all and (max-width: 630px){
    .container{
        width: 300px;
    }
    .welcome ul li,
    .why_choose_nipro li,
    .who_work_with_us ul li,
    .best_pricing .item > li{
        width: 100%;
    }
    .header{
        padding: 1px;
        height: auto;
    }
    .header ul li{
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .slider{
        padding-top: 42px;
    }
    h1{
        font-size: 45px;
    }
    .who_work_with_us h3{
        font-size: 28px;
    }
    .who_work_with_us ul li{
        height: 392px;
    }
}